.wrapper {
    min-height: 100px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    color: var(--white);
}
//top-header

//header
.header {
    min-height: 8rem;
    width: var(--wrapper-width);
    flex: 1;
    align-self: center;

    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.header-item {
    display: flex;
    align-items: center;
}
.title {
    user-select: none;
    font-size: 4rem;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    .icon {
        padding-right: 1.6rem;
    }
}
//sidebar
